/* Set default styles for the body */
body {
    font-family: Arial, sans-serif; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    height: 100vh; 
    margin: 0; 
    background-color: #f5f5f5; 
}

/* Style for the main container */
.container {
    text-align: left; 
    max-width: 700px; 
    width: 100%; 
    background-color: #fff;
    padding: 20px;
    border-radius: 8px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Style for header element */
header {
    margin-bottom: 20px; /* Add margin to separate header and form */
}

/* Style for labels */
label {
    display: block; 
    margin-bottom: 8px; 
}

/* Style for input and textarea elements */
input, textarea {
    width: 100%; 
    padding: 10px; 
    margin-bottom: 15px; 
    box-sizing: border-box; 
    border: 1px solid #ccc;
    border-radius: 4px; 
    transition: border-color 0.3s; 
}

/* Style for focused input and textarea elements */
input:focus, textarea:focus {
    border-color: #4CAF50; 
}

/* Style for the save button */
#saveButton {
    background-color: #4e1f7a; 
    color: white; 
    padding: 10px 15px;
    border: none; 
    border-radius: 8px; 
    width: 100%; 
    cursor: pointer; 
    transition: background-color 0.3s, padding 0.3s; /* Add transition effects */
    font-size: 1.4em; 
}

/* Style for save button on hover */
#saveButton:hover {
    background-color: #4569a0; 
}

/* Style for profile image */
#profileImage {
    width: 100%; 
    height: auto;
    max-width: 100%; 
    border-radius: 8px; 
}
