* {
  box-sizing: border-box;
}

nav {
  position: sticky;
  max-height: 90%;
  margin-top: 40px;
  padding: 0 16px;
  width: 256px;
  top: 40px;
}

.board-middle-content .all-boards {
  margin: 40px 16px 0;
  max-width: 825px;
  min-width: none;
  width: 100%;
}

.all-boards .boards-page-board-section-header-name {
  padding: 0 0 20px;
}

.board-card {
  display: flex;
}

.boards-page-board-section-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.boards-page-board-section-list-item {
  margin: 0 4% 4% 0;
  padding: 0;
  width: 23.5%;
  cursor: pointer;
}

.boards-page-section-header-name {
  align-items: center;
  display: flex;
  flex: 1;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  margin: 20px 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.card-body {
  align-items: center;
  vertical-align: middle;
}

.board-left-sidebar-workspaces {
  display: block;
}

.boards-page-board-section-header-name {
  display: inline-block;
  flex: 1;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  margin: 3px 0 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.browser-container {
  display: flex;
  flex: 1 1 0%;
  flex-direction: column;
  overflow-y: auto;
}

.content-boundary {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}

.content-wrapper {
  display: flex;
  flex-direction: row;
}

.board-left-sidebar-menu li {
  margin-bottom: 4px;
}

.workspace-accordion-option {
  margin-bottom: 4px;
}

.workspaces-content-wrapper {
  padding-top: 12px;
  padding-bottom: 40px;
}

.workspaces-title-flex {
  border-top: 0.5px solid #b6c2cf;
  display: flex;
}

.workspaces-title-wrapper {
  align-items: baseline;
  display: flex;
  height: 32px;
  justify-content: flex-start;
  margin-bottom: 8px;
  padding: 0 0 0 12px;
}

.workspaces-title {
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  margin-top: 16px;
  flex: 1 1 auto;
  margin: 0;
  padding: 8px 0;
}
