body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #000000;
    color: #fff;
    padding: 10px;
    position: relative;
    text-align: center;
}

nav {
    position: absolute;
    top: 10px;
    right: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-left: 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.title {
    margin-top: 50px; /* Adjust this value to center the title vertically */
}

main {
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#features {
    text-align: center; /* Center the content within the features section */
}

#features ul {
    list-style: none; /* Remove default list styling */
    padding: 0; /* Remove default padding */
}

#features li {
    margin-bottom: 10px; /* Add spacing between features */
}

#about,
#contact {
    text-align: center; /* Center the content within these sections */
}

#about p,
#contact p {
    text-align: left; /* Align paragraph content to the left within these sections */
}

section {
    margin-bottom: 30px;
    text-align: left; /* Align section content to the left */
}


footer {
    background-color: #f4f5f7;
    text-align: center;
    padding: 10px;
}
