/* Apply styles to the main section */
.main-section {
  padding: 40px 20px;
  
}

/* Apply styles to the hero section */
.hero-section {
  background-color: transparent;
  color: #fff; /* White text */
  padding: 80px 20px;
  text-align: center;
}

.hero-section h1 {
  font-size: 3rem; /* Large font size */
  font-weight: bold; /* Bold text */
  margin-bottom: 20px;
}

.hero-section p {
  font-size: 1.5rem; /* Medium font size */

}

/* Apply styles to the features section */
.features-section {
  padding: 60px 20px;
  text-align: center;
}

.features-section h2 {
  font-size: 2.5rem; /* Large font size */
  font-weight: bold; /* Bold text */
  margin-bottom: 40px;
}

/* Apply styles to the individual feature cards */
.feature-card {
  background-color: #f3f4f6; /* Light gray background */
  border-radius: 8px; /* Rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Shadow effect */
  padding: 20px;
  margin-bottom: 20px;
}

.feature-card h3 {
  font-size: 1.5rem; /* Medium font size */
  font-weight: bold; /* Bold text */
  margin-bottom: 10px;
}

.feature-card p {
  font-size: 1rem; /* Small font size */
  color: #6b7280; /* Gray text */
}

/* Apply styles to the about section */
.about-section {
  background-color: #edf2f7; /* Light blue background */
  color: #4b5563; /* Dark gray text */
  padding: 60px 20px;
  text-align: center;
}

.about-section h2 {
  font-size: 2.5rem; /* Large font size */
  font-weight: bold; /* Bold text */
  margin-bottom: 40px;
}

/* Apply styles to the contact section */
.contact-section {
  padding: 60px 20px;
  text-align: center;
}

.contact-section h2 {
  font-size: 2.5rem; /* Large font size */
  font-weight: bold; /* Bold text */
  margin-bottom: 40px;   
}

.center-image {
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; /* Set height to 100% for vertical centering */
}

.carousel-item img {
  width: 100%; /* Adjust width as necessary, could also be a fixed width */
  height: 100%; /* Adjust height to maintain aspect ratio */
  object-fit: scale-down; 
  object-position: center; /* Center the image within the container */
}

